<h1>Apis</h1>

{{>calendar}}

<form id="api-filter" action="/apis" method="post">
<ul>
  <li>
    <label>Enter Band: </label>
    <input type="text" name="artist" val="">

  </li>

  <button type="submit">Submit</button>
</ul>


</form>
<div style="overflow:scroll; height:400px; width:400px;">
<ul>
  {{#each pageTitle}}
    <li><a class="concertClick" href="#">{{this}}</a></li>
  {{/each}}
  <!-- <li>{{{pageTitle}}}</li> -->
</ul>
</div>
<p id="userId">{{{userId}}}</p>

<div style="overflow:scroll; height:400px; width:400px;">
<ul class="myAdds" id="myAdds">

  
</ul>
</div>
<button class="logout">Logout</button>


