<h1>Apis</h1>

{{>calendar}}

<form id="api-filter" action="/apis" method="post">
<ul>
  <li>
    <label>Enter Band: </label>
    <input type="text" name="artist" val="">

  </li>

  <button type="submit">Submit</button>
</ul>


</form>

<ul>
  {{#each pageTitle}}
    <li><a class="concertClick" href="#">{{this}}</a></li>
  {{/each}}
  <!-- <li>{{{pageTitle}}}</li> -->
</ul>
<p id="userId">{{{userId}}}</p>


<ul class="myAdds" id="myAdds">
  
</ul>

<button class="logout">Logout</button>


