<header class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="heading">
        Home
      </h1>
      <button class="logout">Logout</button>
    </div>
  </div>


</header>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="results">
        <form id="api-filter" action="/apis" method="post">
          <ul class="search">
            <li>
              <input type="text" name="artist" placeholder="Look up a band" val="">
              <button type="submit">Submit</button>
            </li>
            
          </ul>
        </form>
        <div class="instructions">
          <p>Click concert to add to your radar</p>
        </div>
        <div class="res">
        <ul>
          {{#each pageTitle}}
            <li><a class="concertClick" href="#">{{this}}</a></li>
          {{/each}}
          <!-- <li>{{{pageTitle}}}</li> -->
        </ul> 
        </div> 
      </div>
    </div>
    <div class="col-4">
      <div class="calendar">
        {{>calendar}}
      </div>
    </div>
    <div class="col-4">
        <div class="radar">
          <p>Concert Radar</p>
        </div>
      <div class="adds">
        <ul class="myAdds" id="myAdds">
        </ul>
        </div>
    </div>
  </div>
</div>

<p id="userId">{{{userId}}}</p>





