<h1 class="form-h1-login">Login</h1>
<form id="form-send" action="/login" method="post" class="form-view">
<ul>
  <li class="form-li">
    <input type="text" name="username" val="" placeholder="Username">

  </li>

  <li class="form-li">
    <input type="password" name="password" val="" placeholder="Password">

  </li>

  <button class="form-button" type="submit">Submit</button>
</ul>
</form>
