<h1 class ="form-h1">Register</h1>
<form id="form-send" action="/register" method="post" class="form-view">
<ul>
  <li class="form-li">
    <input type="text" name="username" val="" placeholder="Create a Username">

  </li>

  <li class="form-li">
    <input type="password" name="password" val="" placeholder="Choose a Password">

  </li>
  <button class="form-button" type="submit">Submit</button>
</ul>
</form>
