<!DOCTYPE html>
<html>
<head>
    <title></title>
<link rel="stylesheet" href="js/jquery-ui.css">    
</head>

<body>
  {{{body}}}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="js/cal.js"></script>
<script src="js/main.js"></script>
</body>
</html>
